USE [master]
GO
/****** Object:  Database [cobeca]    Script Date: 27/02/2023 14:02:04 ******/
CREATE DATABASE [cobeca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cobeca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\cobeca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cobeca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\cobeca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cobeca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cobeca]
GO
/****** Object:  Table [dbo].[casa]    Script Date: 27/02/2023 14:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[casa](
	[id_casa] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_casa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registro]    Script Date: 27/02/2023 14:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro](
	[id_registro] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
	[apellido] [varchar](20) NULL,
	[identificacion] [int] NULL,
	[edad] [int] NULL,
	[ref_casa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[casa] ON 

INSERT [dbo].[casa] ([id_casa], [nombre]) VALUES (1, N'Gryffindor')
INSERT [dbo].[casa] ([id_casa], [nombre]) VALUES (2, N'Hufflepuff')
INSERT [dbo].[casa] ([id_casa], [nombre]) VALUES (3, N'Ravenclaw')
SET IDENTITY_INSERT [dbo].[casa] OFF
GO
SET IDENTITY_INSERT [dbo].[registro] ON 

INSERT [dbo].[registro] ([id_registro], [nombre], [apellido], [identificacion], [edad], [ref_casa]) VALUES (1, N'Cesar', N'Lozano', 27360575, 22, 1)
SET IDENTITY_INSERT [dbo].[registro] OFF
GO
ALTER TABLE [dbo].[registro]  WITH CHECK ADD FOREIGN KEY([ref_casa])
REFERENCES [dbo].[casa] ([id_casa])
GO
USE [master]
GO
